/* Spotify Colour Palette : https://www.color-hex.com/color-palette/53188 */

/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: helvetica;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
===============================
GRID
===============================
*/

/* Select all elements and change box-sizing to border-box */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-overflow {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:500px;
}

.container {
    margin:0 auto;
    padding-left:30px;
    padding-right:30px;
    width:100%;
    height:100%;
    background-color:#434343;
}

#login, #loggedin {
    display:none;
} 


/* 
===============================
HEADER
===============================
*/

.container-header {
    background-color:#000000;
    height:100px;
    position:relative;
}

.container-header-text {
    padding-left:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-block;
    position:absolute;
    left:2%;
    top:10%;
    color:#ffffff;
}

.header-text-main {
    font-weight:bold;
    font-size:35px;
    padding-top:5px;
    padding-bottom:5px;
}

.header-text-sub {
    font-size:20px;
    padding-top:5px;
    padding-bottom:5px;
    letter-spacing:3.5px;
}

.container-header-nav {
    display:inline-block;
    position:absolute;
    left:80%;  /* to push navigation bar all the way to the left. may not be the best way.*/
    top:40%;
    text-align: center;
}

.container-header-nav span {
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff;
    padding-left:20px;
    padding-right:20px
}

.container-header-nav button {
    padding-left:15px;  /* padding changes width of button*/
    padding-right:15px;
    margin-left:10px;
}
/* 
===============================
BODY
===============================
*/

.container-body {
    height:802px;
}

/* 
===============================
FOOTER
===============================
*/
.container-footer {
    background-color:#000000;
    height:68px;
    position:relative;
}

.container-footer-text {
    padding-left:20px;
    display:inline-block;
    position:absolute;
    left:2%;
    top:40%;
}

.container-footer-text span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff;
}

.container-footer-logo {
    display:inline-block;
    left:85%;  /* to push navigation bar all the way to the left. may not be the best way.*/
    position:absolute;
    top:20%;
}

.container-footer-logo span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff;
    font-weight:bold;
    margin-left:5px;
    margin-right:5px;
}

.container-footer-logo img{
    vertical-align:middle;
    max-height:120px;
    max-width:120px;
    margin-left:5px;
    margin-right:5px;
}

/* 
===============================
HOME
===============================
*/
.container-body-home {}

/* 
===============================
BUTTONS
===============================
*/
.btn {
    background-color:#1db954;
    border-radius:5px;
    display:inline-block;
    margin:0;
    color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight:bold;
}